/*
	
	Hendy Rodrigues Grid CSS

	Basic structure:
	Example:
		<root>
			<content-line>
				<col-y-x></col-y-x>
				<col-y-x></col-y-x>
				...
				<col-y-x></col-y-x>
			</content-line>
		</root>

	Utility:
		- "Hidden" and "visible" classes
			"hidden-sp" - Remove only viewing on smartphone
			"hidden-tb" - Remove only viewing on tablet
			"hidden-dk" - Remove only viewing on desktop

			"visible-sp" - visible only in the smartphone
			"visible-sp" - visible only in the tablet
			"visible-sp" - visible only on desktop

*/

* { padding: 0; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

/*ClearFix*/

.clearfix:before,
.clearfix:after,
.content-line:before,
.content-line:after
{ display:table; content: ""; }

.clearfix:after,
.content-line:after
{ clear:both; }


.root .col-dk-1:last-child, 
.root .col-dk-2:last-child, 
.root .col-dk-3:last-child, 
.root .col-dk-4:last-child, 
.root .col-dk-5:last-child, 
.root .col-dk-6:last-child, 
.root .col-dk-7:last-child,
.root .col-dk-8:last-child,
.root .col-dk-9:last-child,
.root .col-dk-10:last-child,
.root .col-dk-11:last-child,
.root .col-dk-12:last-child,

.root .col-tb-1:last-child,
.root .col-tb-2:last-child,
.root .col-tb-3:last-child,
.root .col-tb-4:last-child,
.root .col-tb-5:last-child,
.root .col-tb-6:last-child,

.root .col-sp-1:last-child,
.root .col-sp-2:last-child,
.root .col-sp-3:last-child
 { margin-right:0 !important;  }



@media (min-width: 960px) {
	.root { margin:0 auto;  width:100%; }

	.root .col-dk-1, 
	.root .col-dk-2, 
	.root .col-dk-3, 
	.root .col-dk-4, 
	.root .col-dk-5, 
	.root .col-dk-6, 
	.root .col-dk-7,
	.root .col-dk-8,
	.root .col-dk-9,
	.root .col-dk-10,
	.root .col-dk-11,
	.root .col-dk-12 {
		min-height:10px; float:left;  margin-right:2.12765957447% ;
	}

	.content-line {width:80%; margin:0 auto; padding-left:5%; padding-right:5%;}
	.content-line-full { width:100%; }

	


	.root .col-dk-1   { width:6.3829787234%;}
	.root .col-dk-2   { width:14.8936170213%;  }
	.root .col-dk-3   { width:23.4042553191%;  }
	.root .col-dk-4   { width:31.914893617%;		 }
	.root .col-dk-5   { width:40.4255319149%;  }
	.root .col-dk-6   { width:48.9361702128%;  }
	.root .col-dk-7   { width:57.4468085106%;  		 }
	.root .col-dk-8   { width:65.9574468085%;  }
	.root .col-dk-9   { width:74.4680851064%;  }
	.root .col-dk-10  { width:82.9787234043%;		 }
	.root .col-dk-11  { width:91.4893617021%;  }
	.root .col-dk-12  { width:100%; margin-right:0 !important;  }

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root .push-dk-1  { margin-left:8.51063829787%;        }
	.root .push-dk-2  { margin-left:17.02127659577%; }
	.root .push-dk-3  { margin-left:25.53191489357%; }
	.root .push-dk-4  { margin-left:34.04255319147%;	   }
	.root .push-dk-5  { margin-left:42.55319148937%; }
	.root .push-dk-6  { margin-left:51.06382978727%; }
	.root .push-dk-7  { margin-left:59.57446808507%; 	   }
	.root .push-dk-8  { margin-left:68.08510638297%; }
	.root .push-dk-9  { margin-left:76.59574468087%; }
	.root .push-dk-10 { margin-left:85.10638297877%;  	   }
	.root .push-dk-11 { margin-left:93.61702127657%; }

	/* Ultima coluna da linha */
	
	.col-dk-last { margin-right:0 !important;  }

	/* Visible e Hiddens */

	.visible-dk {  }
	.visible-tb { display:none !important; }
	.visible-sp { display:none !important; }

	.hidden-dk { display:none !important; }
	.hidden-tb { }
	.hidden-sp { }



}

/* TABLETS */

@media (min-width: 520px) and (max-width: 959px) {

	
	/* Resets */

	.root .col-dk-1, 
	.root .col-dk-2, 
	.root .col-dk-3, 
	.root .col-dk-4, 
	.root .col-dk-5, 
	.root .col-dk-6, 
	.root .col-dk-7,
	.root .col-dk-8,
	.root .col-dk-9,
	.root .col-dk-10,
	.root .col-dk-11,
	.root .col-dk-12 {
		width:100%;
		min-height:10px; float:left; 
	}

	.content-line { padding:0 1% !important; }

	.root .col-tb-1, 
	.root .col-tb-2, 
	.root .col-tb-3, 
	.root .col-tb-4, 
	.root .col-tb-5, 
	.root .col-tb-6 {
		min-height:10px; float:left;  margin-right:2.12765957447%;
		
	}



	.root .col-tb-1  { width:14.8936170213%; 		 }
	.root .col-tb-2  { width:31.914893617%;  }
	.root .col-tb-3  { width:48.9361702128%;  }
	.root .col-tb-4  { width:65.9574468085%;		 }
	.root .col-tb-5  { width:82.9787234043%;  }
	.root .col-tb-6  { width:100%;  }
	

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root .push-tb-1  { margin-left:17.02127659577%;        }
	.root .push-tb-2  { margin-left:34.04255319147%; }
	.root .push-tb-3  { margin-left:51.06382978727%%; }
	.root .push-tb-4  { margin-left:68.08510638297%;	   }
	.root .push-tb-5  { margin-left:93.61702127657%; }


	/* Ultima coluna da linha */

	.col-tb-last { margin-right:0 !important;  }


	/* Hidden e Visible */

	.visible-dk { display:none !important; }
	.visible-tb {  }
	.visible-sp { display:none !important; }

	.hidden-dk {  }
	.hidden-tb { display:none !important; }
	.hidden-sp { }

}


@media (max-width: 519px) {
	
	.root { margin:0 auto;  width:100%; }

	/* Resets */

	.root .col-dk-1, 
	.root .col-dk-2, 
	.root .col-dk-3, 
	.root .col-dk-4, 
	.root .col-dk-5, 
	.root .col-dk-6, 
	.root .col-dk-7,
	.root .col-dk-8,
	.root .col-dk-9,
	.root .col-dk-10,
	.root .col-dk-11,
	.root .col-dk-12 {
		width:100%;
		min-height:10px; float:left;  
	}


	.content-line { padding:0 1% !important; }

	.root .col-tb-1, 
	.root .col-tb-2, 
	.root .col-tb-3, 
	.root .col-tb-4, 
	.root .col-tb-5, 
	.root .col-tb-6 {
		min-height:10px; float:left;
	}
	
	.root .col-sp-1,
	.root .col-sp-2,
	.root .col-sp-3 { min-height:10px; float:left;  margin-right:2.12765957447%; }

	/* Posições */

	.root .col-sp-1  { width:31.914893617%; 		 }
	.root .col-sp-2  { width:65.9574468085%;  }
	.root .col-sp-3  { width:100%;  }

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root .push-sp-1  { margin-left:34.04255319147%;        }
	.root .push-sp-2  { margin-left:68.08510638297%; }
	
	/*Ultima coluna da linha*/

	.col-sp-last {margin-right:0 !important;}


	/* Hidden e Visible */

	.visible-dk { display:none !important; }
	.visible-tb { display:none !important; }
	.visible-sp {  }

	.hidden-dk {  }
	.hidden-tb { }
	.hidden-sp { display:none !important;  }

}