/**

Name: Painel administrativo universal
Date: 10/11/2015
Description: Painel administrativo para ser usado em vários projetos
Information:
Breakpoints:
	Mobile: 240px - 519px
	Tablet: 520px - 959px
	Desktop: 960px - 1366px
Last modification: 20/05/2016

*/



body { background:#ddd; font-family: 'Open Sans', sans-serif; color:#333; }

a { text-decoration:none; color:#333; border:0; }
a:hover { text-decoration:underline; }

ul li {margin-left:20px;}

img { max-width:100%; height:auto; border:0; }


/** --= Especific configuration =-- */
.clearfix {  }
.no-hover:hover { text-decoration:none; }
.clearfix:after,.thread-block:after, .tiles:after {content: ''; display:block; clear:both;}
.float-right {float:right;}
.float-left{float:left;}

.debug {border:1px solid;}

.fontzero { font-size:0; }
.title { font-size:1.5em; }
.subtitle {font-size: 1em; font-weight:300 !important;}
.text-mini { font-size:0.7em; }
.text-color { color:#4CA5FF; }

.img-round { border-radius:100%; }
.img-border { border:3px solid #ccc !important; }


/** --= Style global =-- */
.logo { display:block; }
.main-header { background:#34495E; padding-top:15px  !important; padding-bottom:15px !important ; position:relative;}



/** Breakpoint: 519px - Smartphone */

/**@media (max-width:519px) { */
	
.logo { width:33.75%; }

.main { padding:0 3.125%; }

.option-bar { width:30%; position:relative; /*right:3.125%; top:50%;  transform:translateY(-50%);*/  }
.option-bar-icon { width: 28%; display:block; margin-right:8%; }
.option-bar-icon:nth-child(3n) { margin-right:0%; }


/** --= NavBar =-- */

.main-nav { background:#4CA5FF; }

.nav { list-style-type:none; }
.nav .nav-item {display:block; margin-left:0;  border-bottom:1px dashed white;}
.nav .nav-item a {  color:white; display:block; padding:7px 5px; }
.nav .nav-sub { display:block; background: #34495E}
.nav .nav-sub .nav-item { margin-left:10px; }


/** --= TitleBar =-- */

.main-title { background:#333; text-align:center; padding:5px 0; color:white; }
.main-title img { display:none; }
.main-title h1 { font-size:1.1em; }
.main-title h2 { color:#999; font-size:0.8em; }


/** --= Breadcrumb =-- */

.breadcrumb { font-size:0.8em; margin-bottom:10px; margin-top:10px;}
.tiles { margin-top:0 !important; }
/** OOCSS: Class 'Tile' */
/** 
- Structure :
		- tile
		<block class="tile">
			<title></title>
			<subtitle></subtitle>
		</block>
		
- Subclass:
	Types: color
		tile-color-red
		tile-color-pink
		tile-color-yellow
		tile-color-blue
	Types: info
		tile-info-user
		tile-info-post
		tile-info-graf
		tile-info-cm
	Types: text
		tile-title
		tile-subtitle

*/
.tile { width:100%; border:1px solid; overflow:hidden; color:white; padding:1%; cursor:pointer}

/** - Colors */
.tile-color-red { background-color:#FF2626; }
.tile-color-red:hover { background-color:#910000; }

.tile-color-pink { background-color:#69008C; } 
.tile-color-pink:hover { background-color:#590077; }

.tile-color-yellow { background-color:#EABA1D; }
.tile-color-yellow:hover { background-color:#C79E12; }

.tile-color-blue { background-color:#34495E; }
.tile-color-blue:hover { background-color:#2E4052; }

/** - Infos */
.tile-info-user {background-image:url(../img/tile_user.png); background-repeat:no-repeat; background-position: center center; background-size:10%; background-position:-1.5% 5px; }
.tile-info-post { background-image:url(../img/tile_post.png); background-repeat:no-repeat; background-position: center center; background-size:10%; background-position:-1.5% 5px;  }
.tile-info-grap { background-image:url(../img/tile_grap.png); background-repeat:no-repeat; background-position: center center; background-size:10%; background-position:-1.5% 5px; }
.tile-info-cm { background-image:url(../img/tile_cm.png); background-repeat:no-repeat; background-position: center center; background-size:10%; background-position:-1.5% 5px; }

/** - Text */
.tile-title { font-weight:bold; margin-left:11%}
.tile-subtitle { font-weight:300; }

/** } */

/** OOCSS: Class 'thread' */
/** 
- Structure

	<block class="thread">
		<block class="thread-block">
			<img/>
			<block class="thread-separate">
				Title
				Content
			</block>
		</block>
	</block>
	
- Subclass:
	thread-img
	thread-separate
	thread-block
	thread-text
	thread-title

*/
.thread {  }
.thread li{ list-style-type:none; }
.thread-block { display:block; border-bottom:1px #AAA dashed; margin-bottom:2%; padding:2% 0; }
.thread-img { width:30%; margin-right:2%; float:left; display:block; }
.thread-separate { float:left; width:68%; }
.thread-title { font-size:1em;  }
.thread-text { font-size:0.7em; color:#333 }



/** OOCSS: Class 'block' */
/** 
- Structure:

	<block class="block">
		<block class="block-header">
			<inline class="block-title">Title</inline>
			<inline class="block-btn">Button</inline>
		</block>
		<!--  Content -->
	</block>
	
	
- Subclass:
	Types:location
		block-header
		block-btn
	Types:text
		block-title
 */
.block { background:white; margin-bottom:2%; padding:2%;}
.block-header { border-bottom:2px solid #34495E; margin-bottom:3%; padding-bottom:1%;}
.block-header:after { content:''; clear:both; display:block; }

.block-title { float:left; font-size:1em; color:#4CA5FF}

.block-btn { float:right; font-size:0.8em; padding:1%; margin-left:1%; background:#4CA5FF; color:white; }
.block-btn:hover { text-decoration:none; cursor:pointer; background:#0D86FF; }

/** OOCSS: Class 'list'

- Structure:
	Exemple 1: Basic
	
	<ul class="list">
		<li>Content <inline class="list-tag">TAG</inline></li>
	</ul>
	
	
	Exemple 2: With image or inputs
	
	<ul class="list">
		<li>
			<source/> 
			<block class="list-separate">
				Content <inline class="list-tag">TAG</inline>
			</block>
		</li>
	</ul>
	
	
- Subclass

	Types:Extras
		list-tag
		list-none
		list-hover
	Types:Structure
		list-separate
		list-mini
	Types:Color tag:
		list-tag-warm
		list-tag-info
		list-tag-error
		list-tag-accept
				
        
*/

.list {  }
.list-none { list-style:none;  }
.list-none li{ margin:0; }
.list-hover li:hover { background:#ccc; }
.list li { width:100%; border-bottom:1px dashed #ccc; padding:1% 0; position:relative;}
.list li:after {  content:''; display:block; clear:both; }

.list li input , .list li img{ float:left; width:10%; background:blue; margin-top:5px; display:block; border:1px solid; background:black;}     
.list li .list-img-large { margin-right: 5%;  width:25%;}

.list-separate { float:left; backgrund:blue; float:right; width:88%; margin-left:2%;}
.list-separate2 { float:left; backgrund:blue; float:right; width:70%;}

.list-mini { position:absolute; bottom:0; right:0; font-size:0.8em; }

.list-tag-warm { color:#fff; background:#FF9900; padding:3px; font-size:0.6em; font-weight:300; }
.list-tag-info { color:#fff; background:#6CDFEA; padding:3px; font-size:0.6em; font-weight:300; }
.list-tag-error { color:#fff; background:#FF0000; padding:3px; font-size:0.6em; font-weight:300; }
.list-tag-accept { color:#fff; background:#1CAC1E; padding:3px; font-size:0.6em; font-weight:300; }


/** --= Footer =--*/

.main-footer { background:#333; font-size:0.9em; padding:30px 0 !important; color:#fff; font-weight:300 !important;  text-align:center; font-style:italic; }
.main-footer a { color:#57ABFF; }



/**  --= BREAKPOINT! - Tablet - Acima de 520px  */

@media (min-width: 520px) and (max-width:959px) {
	
	.logo { width:15%; }
	
	.option-bar { width:16.5%;  }
	.option-bar-icon { width:30%; margin-right:5%; }
	
	.main-title .content-line{ text-align:left; }
	.main-title h1, .main-title h2 { display:inline;  }

	.tile { width:23.5%; margin-right:2%; float:left; padding:10px; text-align:right; line-height:140%;}
	.tile:nth-child(4n+1) { margin-right:0 !important; }
	
	.tile .tile-title { font-size:1.5em;  display:block; }
	.tile .tile-subtitle { font-size: 0.7em !important; line-height:110%; display:inline-block; }
	
	.tile-info-user ,
	.tile-info-post ,
	.tile-info-grap ,
	.tile-info-cm {
		background-size:40%;
		background-position:0 50%;
	}
	
	.tile-info-user {  }
	.tile-info-post {}
	.tile-info-graf {}
	.tile-info-cm {}
	
	.tiles-round .tile { border-radius:10px; }



	
}

@media (min-width:960px) {
	.logo { width:15%; }

	.option-bar { width:10%;  }
	

	.main-title .content-line{ text-align:left; }
	.main-title h1, .main-title h2 { display:inline;  }
}













