/* Seletor universal */

* { margin:0; padding:0; box-sizing: border-box; }
img { max-width:100%; }
input { width:100%; display:block; padding:5px; margin:5px 0; }

/* Clear FIX */
.clearfix:before, .clearfix:after, .menu-collapse:before, .menu-collapse:after { display:table; content: ""; }
.clearfix:after , .menu-collapse:after{ clear:both; }



.row { clear:both;  }





/* Classes de grid responsivas */

/* Desktops */
@media (min-width: 767px) {
	.root-responsive { margin:0 auto;  width:80%; }
	.root-full { margin:0 auto; width:100%; }
	.root-responsive .col-desk-1, 
	.root-responsive .col-desk-2, 
	.root-responsive .col-desk-3, 
	.root-responsive .col-desk-4, 
	.root-responsive .col-desk-5, 
	.root-responsive .col-desk-6, 
	.root-responsive .col-desk-7,
	.root-responsive .col-desk-8,
	.root-responsive .col-desk-9,
	.root-responsive .col-desk-10,
	.root-responsive .col-desk-11,
	.root-responsive .col-desk-12 {
		min-height:10px; float:left;  margin-right:2.12765957447% ;
	}

	

	/* Utilitários */
	.visible-desk {  }
	.visible-tb { display:none !important; }
	.visible-sp { display:none !important; }

	.hidden-desk { display:none !important; }
	.hidden-tb { }
	.hidden-sp { }

	/* Menu horizontal apenas para desktop */
	 /* Alinhamento do menu - Horizontal */
 	.menu-horizontal .menu-item { display:inline-block; }
	
	.menu-full-vertical { height:100%; }

	.root-responsive .col-desk-1   { width:6.3829787234%;}
	.root-responsive .col-desk-2   { width:14.8936170213%;  }
	.root-responsive .col-desk-3   { width:23.4042553191%;  }
	.root-responsive .col-desk-4   { width:31.914893617%;		 }
	.root-responsive .col-desk-5   { width:40.4255319149%;  }
	.root-responsive .col-desk-6   { width:48.9361702128%;  }
	.root-responsive .col-desk-7   { width:57.4468085106%;  		 }
	.root-responsive .col-desk-8   { width:65.9574468085%;  }
	.root-responsive .col-desk-9   { width:74.4680851064%;  }
	.root-responsive .col-desk-10 { width:82.9787234043%;		 }
	.root-responsive .col-desk-11 { width:91.4893617021%;  }
	.root-responsive .col-desk-12 { width:100%; margin-right:0 !important;  }

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root-responsive .push-desk-1  { margin-left:8.51063829787%;        }
	.root-responsive .push-desk-2  { margin-left:17.02127659577%; }
	.root-responsive .push-desk-3  { margin-left:25.53191489357%; }
	.root-responsive .push-desk-4  { margin-left:34.04255319147%;	   }
	.root-responsive .push-desk-5  { margin-left:42.55319148937%; }
	.root-responsive .push-desk-6  { margin-left:51.06382978727%; }
	.root-responsive .push-desk-7  { margin-left:59.57446808507%; 	   }
	.root-responsive .push-desk-8  { margin-left:68.08510638297%; }
	.root-responsive .push-desk-9  { margin-left:76.59574468087%; }
	.root-responsive .push-desk-10 { margin-left:85.10638297877%;  	   }
	.root-responsive .push-desk-11 { margin-left:93.61702127657%; }

}



/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {


	.root-responsive { margin:0 auto;  width:100%; }

	/* Resets */

	.root-responsive .col-desk-1, 
	.root-responsive .col-desk-2, 
	.root-responsive .col-desk-3, 
	.root-responsive .col-desk-4, 
	.root-responsive .col-desk-5, 
	.root-responsive .col-desk-6, 
	.root-responsive .col-desk-7,
	.root-responsive .col-desk-8,
	.root-responsive .col-desk-9,
	.root-responsive .col-desk-10,
	.root-responsive .col-desk-11,
	.root-responsive .col-desk-12 {
		width:100%;
		min-height:10px; float:left; 
	}


	.root-responsive .col-tb-1, 
	.root-responsive .col-tb-2, 
	.root-responsive .col-tb-3, 
	.root-responsive .col-tb-4, 
	.root-responsive .col-tb-5, 
	.root-responsive .col-tb-6 {
		min-height:10px; float:left;  margin-right:2.12765957447%;
	}



	/* Utilitários */
	.visible-desk { display:none !important; }
	.visible-tb {  }
	.visible-sp { display:none !important; }

	.hidden-desk {  }
	.hidden-tb { display:none !important; }
	.hidden-sp { }

	.root-responsive .col-tb-1  { width:14.8936170213%; 		 }
	.root-responsive .col-tb-2  { width:31.914893617%;  }
	.root-responsive .col-tb-3  { width:48.9361702128%;  }
	.root-responsive .col-tb-4  { width:65.9574468085%;		 }
	.root-responsive .col-tb-5  { width:82.9787234043%;  }
	.root-responsive .col-tb-6  { width:100%;  }
	

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root-responsive .push-tb-1  { margin-left:17.02127659577%;        }
	.root-responsive .push-tb-2  { margin-left:34.04255319147%; }
	.root-responsive .push-tb-3  { margin-left:51.06382978727%%; }
	.root-responsive .push-tb-4  { margin-left:68.08510638297%;	   }
	.root-responsive .push-tb-5  { margin-left:93.61702127657%; }
}

/* Smartphone */
@media (max-width: 480px) {
	
	.root-responsive { margin:0 auto;  width:100%; }

	/* Resets */

	.root-responsive .col-desk-1, 
	.root-responsive .col-desk-2, 
	.root-responsive .col-desk-3, 
	.root-responsive .col-desk-4, 
	.root-responsive .col-desk-5, 
	.root-responsive .col-desk-6, 
	.root-responsive .col-desk-7,
	.root-responsive .col-desk-8,
	.root-responsive .col-desk-9,
	.root-responsive .col-desk-10,
	.root-responsive .col-desk-11,
	.root-responsive .col-desk-12 {
		width:100%;
		min-height:10px; float:left;  margin-right:2.12765957447%;
	}




	.root-responsive .col-tb-1, 
	.root-responsive .col-tb-2, 
	.root-responsive .col-tb-3, 
	.root-responsive .col-tb-4, 
	.root-responsive .col-tb-5, 
	.root-responsive .col-tb-6 {
		min-height:10px; float:left;  margin-right:2.12765957447%;
	}

	/* Utilitários */
	.visible-desk { display:none !important; }
	.visible-tb { display:none !important; }
	.visible-sp {  }

	.hidden-desk {  }
	.hidden-tb { }
	.hidden-sp { display:none !important;  }


	/* Posições */

	.root-responsive .col-sp-1  { width:31.914893617%; 		 }
	.root-responsive .col-sp-2  { width:65.9574468085%;  }
	.root-responsive .col-sp-3  { width:100%;  }

	/* Empurrar colunas - Valor de calculo: 3,125 */

	.root-responsive .push-sp-1  { margin-left:34.04255319147%;        }
	.root-responsive .push-sp-2  { margin-left:68.08510638297%; }

}

.col-last { margin-right:0 !important; }

/* =================================================================== MENU DE NAVEGAÇÃO=================================================================== */

.menu-collapse { text-align:center; float:left; width:100%; }
.menu-click { cursor:pointer; }

 .menu .menu-toggle { width:2.2em; cursor:pointer;  height:2em;  display:block; padding:0 0.2em; background:#515151; border:1px solid #515151; margin:5px}
 .menu .menu-right { float:right; }
 .menu .menu-left { float:left; 	}
 .menu .menu-center { margin:0 auto; display:inline-block;}

/* Lista */
.menu .menu-list-items { list-style:none; }
.menu .menu-list .menu-item a { display:block; padding:0.313em; }

/* Submenus */
.menu-submenu > ul { display:none; }

 /* Desenho do icone */
 .menu .menu-icon { display: block;  width:100%;  margin:0.2em 0; height:13%; }

/** ============================================================ COLUNA =========================================================================== */
.col-left { float:left; }
.col-right { float:right; }

/** ============================================================ FORMULÀRIOS =========================================================================== */

input[type="submit"] { width:auto; padding:5px 10px; }

